<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
  </head>
  <body>
    <h3>Ch4.Node.js + MongoDB 실습</h3>

    <a href="/user1/list">User1 목록</a>
    <a href="/user1/register">User1 등록</a>
  </body>
</html>
